__pycache__/
.vscode/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
.venv/
.env
.ipynb_checkpoints/
.DS_Store
Thumbs.db
cache/
*.bin
*.pt
*.pth
huggingface/
~/.cache/huggingface/
~/.cache/torch/
